PORT=4000
DB_HOST=movil-2-do-user-28304087-0.i.db.ondigitalocean.com
DB_PORT=25060
DB_DATABASE=defaultdb
DB_USER=doadmin
DB_PASSWORD=CHANGE_ME
DB_SSL=true

# URL de la API que consumirá la app Expo/React Native
EXPO_PUBLIC_API_URL=http://localhost:4000
